# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env
config.yml

# Dist
dist/
typings/

# Miscellaneous
.tmp/
coverage/
data/

# Testing
test*.*

# Keys
*.pem