---
---

$header-bg-color: #5865F2 !default;
$header-bg-color-secondary: #5865F2 !default;
$section-headings-color: #5865F2 !default;
@import "{{ site.theme }}";
a {
	color: $section-headings-color;
}
a.btn {
	display: none;
}