---
---

$header-bg-color: #5865F2 !default;
$header-bg-color-secondary: #5865F2 !default;
$section-headings-color: #5865F2 !default;
@import "{{ site.theme }}";
a {
	color: $section-headings-color;
}
a.btn {
	display: none;
}

@font-face {
	font-family: 'GintoNord';
	src: url("../GintoNord-Black.ttf") format("truetype");
}

@font-face {
	font-family: 'Whitney';
	src: url("../Whitney-Book-Bas.otf") format("truetype");
}

$font-title: 'GintoNord', 'sans-serif';
$font-main: 'Whitney', 'sans-serif';

body {
	font-family: $font-main;
}

h1 {
	font-family: $font-title;
}
